{% extends "admin/admin.html.twig" %}


{% block content %}
     
        
    <div class="col-md-7 col-md-offset-2">
         <div class="row">
            <h2>Provider</h2>
            <p>Admin <a href="{{ path('admin_provider_edit')}}">add provider</a></p>
            <table class="table">
                <tr>
                    <th>idprovider</th>
                    <th>lastname</th>
                    <th>firstname</th>
                    <th>company</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>address</th>
                    <th>country</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                {% for provider in providers%}
                    <tr>
                        <td>{{ provider.idprovider }}</td>
                        <td>{{ provider.lastname }}</td>
                        <td>{{ provider.firstname }}</td>
                        <td>{{ provider.company }}</td>
                        <td>{{ provider.email }}</td>
                        <td>{{ provider.phone }}</td>
                        <td>{{ provider.address }}</td>
                        <td>{{ provider.country }}</td>
                        <td>
                            <button class="btn btn-primary"><a href="{{ path('admin_provider_edit', {id: provider.idprovider}) }}">modifier</a></button>
                        </td>
                        <td>
                             <button id="annuler" name="annuler" class="btn btn-danger"><a href=" {{path('admin_provider_delete', {id: provider.idprovider}) }}">delete</a></button>
                        </td>
                    </tr>
                {% else %} 
                    <tr><td colspan="2">Aucun résultat</td></tr>
                 {% endfor %}
            </table>
        </div>
    </div>   
        
{% endblock %}
