{% extends "admin/admin.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/simditor.css') }}" />
{% endblock %}
{% block content %}
    <div class="col-md-9 col-md-offset-2 table-listing">
        <h1>{% if teamMember.idteam_member%}Edit{% else %}Create{% endif %} membre de l'équipe</h1>
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="firstname">Prénom</label>  
                    <div class="col-md-8">
                        <input id="firstname" name="firstname" type="text" placeholder="" value="{{ teamMember.firstname }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="lastname">Nom</label>  
                    <div class="col-md-8">
                        <input id="lastname" name="lastname" type="text" placeholder="" value="{{ teamMember.lastname }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">Titre</label>  
                    <div class="col-md-8">
                        <input id="title" name="title" type="text" placeholder="" value="{{ teamMember.title }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>  
                    <div class="col-md-8">
                        <textarea id="description" name="description" placeholder="" class="form-control input-md" rows="15">{{ teamMember.description }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="linkedin">Linkedin</label>  
                    <div class="col-md-8">
                        <input id="linkedin" name="linkedin" type="text" placeholder="" value="{{ teamMember.linkedin }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="picture">Image</label>  
                    <div class="col-md-8">
                        <input type="file" class="form-control-file" id="picture" name="picture" value="{{ asset(teamMember.picture) }}" aria-describedby="fileHelp">
                    </div>
                </div>
                <div class="form-group">
                     <label class="col-md-2 control-label" for="submit"></label>
                     <div class="col-md-8">
                          <button  name="submit" type="submit" class="btn btn-success">Valider</button>
                         <a href="{{ path('admin_team') }}" class="btn btn-primary">Annuler</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/module.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/hotkeys.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/uploader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/simditor.min.js') }}"></script>
    <script>
        var description = new Simditor({
             textarea: $('#description')
        });
    </script>
{% endblock %}
