{% extends "admin/admin.html.twig" %}

{% block content %}    
        
    <div class="col-md-9 col-md-offset-2 table-listing">
        <h2>Pays</h2>
        <p><a href="{{ path('admin_opportunity_edit')}}">Ajout offre d'emploi</a></p>
        <table class="table table-striped">
            <tr class="info">
                <th>Position</th>
                <th>Référence</th>
                <th>Domaine</th>
                <th>Ville</th>
                <th>Type</th>
                <th>Publication</th>
                <th>Embauche</th>
                <th>Edition</th>
                <th>Supprimer</th>
            </tr>
            {% for opportunity in countries%}
            <tr>
                <td>{{ opportunity.position }}</td>
                <td>{{ opportunity.reference }}</td>
                <td>{{ opportunity.field }}</td>
                <td>{{ opportunity.city }}</td>
                <td>{{ opportunity.contract_type }}</td>
                <td>{{ opportunity.publication_date }}</td>
                <td>{{ opportunity.hiring_date }}</td>
                <td>
                    <a href="{{ path('admin_country_edit', {id: opportunity.idcountry}) }}"><button class="btn btn-primary">Modifier</button></a>
                </td>
                <td>
                    <a href=" {{path('admin_country_delete', {id: opportunity.idcountry}) }}"><button id="annuler" name="annuler" class="btn btn-danger">Supprimer</button></a>
                </td>
            </tr>
            {% else %} 
                <tr><td colspan="2">Aucun résultat</td></tr>
            {% endfor %}
        </table>
    </div>
       
{% endblock %}

