{% extends "admin/admin.html.twig" %}


{% block content %}

    <div class="col-md-9 col-md-offset-2 table-listing">
        <div class="row">
            <h2>Produit</h2>
            <p>Admin <a href="{{ path('admin_product_edit')}}">add product</a></p>
            <table class="table table-striped">
                <tr class="info">
                    <th>Nom</th>
                    <th>Site</th>
                    <th>Résumé</th>
                    <th>Description</th>
                    <th>Domaine</th>
                    <th>Innovateur</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
                {% for product in products%}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.website }}</td>
                        <td>{{ product.summary[:50]|raw }}</td>
                        <td>{{ product.description[:50]|raw }}</td>
                        <td>{{ product.field }}</td>
                        <td>{{ product.providerCompany }}</td>
                         <td>
                            <a href="{{ path('admin_product_edit', {id: product.idproduct}) }}"><button class="btn btn-primary">modifier</button></a>
                        </td>
                        <td>
                             <a href=" {{path('admin_product_delete', {id: product.idproduct}) }}"><button id="annuler" name="annuler" class="btn btn-danger">delete</button></a>
                        </td>
                    </tr>
                {% else %} 
                    <tr><td colspan="2">Aucun résultat</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>   

{% endblock %}