{% extends "Admin/admin.html.twig" %}

{% block content %}
    
 <div class="col-md-7 col-md-offset-2 table-listing">
        <div class="row">
            <h2>Client</h2>
            <p><a href="{{ path('admin_client_edit')}}">Ajout client</a></p>
            <table class="table">
                <tr>
                    <th>company</th>
                    <th>lastname</th>
                    <th>firstname</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>address</th>
                    <th>country</th>
                    <th>status</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                    
                </tr>
                {% for client in clients%}
                    <tr>
                        <td>{{ client.company }}</td>
                        <td>{{ client.lastname }}</td>
                        <td>{{ client.firstname }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.country }}</td>
                        <td>{{ client.status }}</td>
                         <td>
                            <a href="{{ path('admin_client_edit', {id: client.idclient}) }}"><button class="btn btn-primary">modifier</button></a>
                        </td>
                        <td>
                             <a href=" {{path('admin_client_delete', {id: client.idclient}) }}"><button id="annuler" name="annuler" class="btn btn-danger">delete</button></a>
                        </td>
                    </tr>
                {% else %} 
                    <tr><td colspan="2">Aucun résultat</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>   

{% endblock %}
