{% extends "Admin/admin.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/admin/provider_edit.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/simditor.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-9 col-md-offset-2 table-listing">
        <h1>{% if provider.idprovider%}Edition{% else %}Création{% endif %} innovateur</h1>
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="lastname">Nom</label>  
                    <div class="col-md-8">
                        <input id="lastname" name="lastname" type="text" placeholder="" value="{{ provider.lastname }}" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="firstname">Prénom</label>  
                    <div class="col-md-8">
                        <input id="firstname" name="firstname" type="text" placeholder="" value="{{ provider.firstname }}" class="form-control input-md">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="company">Société</label>  
                    <div class="col-md-8">
                        <input id="company" name="company" type="text" placeholder="" value="{{ provider.company }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>  
                    <div class="col-md-8">
                        <textarea id="description" name="description" type="text" placeholder="" class="form-control textarea-md">{{ provider.description }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email</label>  
                    <div class="col-md-8">
                        <input id="email" name="email" type="text" placeholder="" value="{{ provider.email }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">Téléphone</label>  
                    <div class="col-md-8">
                        <input id="phone" name="phone" type="text" placeholder="" value="{{ provider.phone }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="address">Adresse</label>  
                    <div class="col-md-8">
                        <input id="address" name="address" type="text" placeholder="" value="{{ provider.address }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="city">Ville</label>  
                    <div class="col-md-8">
                        <input id="city" name="city" type="text" placeholder="" value="{{ provider.city }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="country">Pays</label>
                     <div class="col-md-8">
                        <input id="country" name="country" type="text" placeholder="" value="{{ provider.country }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="picture">Photo</label>
                     <div class="col-md-8">
                        <input id="picture" name="picture" type="text" placeholder="" value="{{ provider.picture }}" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-md-2 control-label" for="status">Statut</label>  
                        <div class="col-md-8">
                            <select id="status" name="status" class="form-control select-md">
                                <option value="public" {% if provider.status == "public" %}selected{% endif %}>Public</option>
                                <option value="privé" {% if provider.status == "privé" %}selected{% endif %}>Privé</option>
                                <option value="archivé" {% if provider.status == "archivé" %}selected{% endif %}>Archvé</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button  name="submit" type="submit" class="btn btn-success">Valider</button>
                        <a href="{{ path('admin_provider') }}" class="btn btn-primary">Annuler</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
    
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/module.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/hotkeys.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/uploader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/simditor.min.js') }}"></script>
    <script>
        var description = new Simditor({
             textarea: $('#description')
        });
    </script>
{% endblock %}