{% extends "layout.html.twig" %}

{% block stylesheet %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/innovators/innovators.css") }}"/>

{% endblock %}

{% block content %}

    <div class="parallax" data-image="{{ asset('img/img-innovator/hosted_by_africa_innovators.jpg') }}"></div>

    <main>

        <section id="innovators-header">

            <div class="container">

                <div class="row">

{#                  <div id="slide1" style="background-image:url("../images/innovateurs.jpg"); background-repeat: none;">

                    </div>#}

                    <div class="col-xs-12 text-center">

                        <h1>{{ "Nos innovateurs"|upper }}</h1>

                    </div>

                </div>

                <div class="row all-select-innovators">

                    {#<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 innovators-select-theme">

                      

                            <select class="col-xs-12">

                                <option value="">Theme</option>

                                <option>Education</option>

                                <option>Santé</option>

                                <option>Assurance</option>

                                <option>Comptabilité</option>

                                <option>Numérisation GED</option>

                            </select>

                    </div>#}

                    <div class="col-xs-offset-1 col-xs-12  col-sm-offset-3 col-sm-6 ">

                        <form id="filter-form">

                            <select class="col-xs-12 innovators-select-pays">

                                <option value="">choissisez un pays</option>

                                {% for country in countries %}

                                <option>{{ country.name }}</option>

                                {% endfor %}

                            </select>

                        </form>

                    </div>

                    

                </div>

            </div>

        </section><br><br>

              

        <section id="innovators-body">

            <div class="container">

                <div class="row">

                    <div id="innovator-list">

                        {% include 'innovator/innovatorList.html.twig' %}

                    </div>                  

                </div>                    

            </div>  

        </section>

    </main>

{% endblock %}

{% block javascript %}

     {{ parent() }}

     <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>

     <script>

        var countrySelect = '{{ path('provider_ajax') }}';

        

    </script>

    <script src="{{ asset("js/innovators/innovators.js") }}"></script>

    <script type="text/javascript" src="script/jquery.parallax-1.1.js"></script>

{% endblock %}