 {% for provider in providers %}
                        <div class="test col-lg-3 col-sm-6 text-center mb-4">
                            <div class="box">
                                <img src="{{ asset(provider.picture) }}" alt="">

                                <div class="box-content">
                                    <h3 class="title">{{ provider.firstname }} {{ provider.lastname }}</h3>
                                    <p class="title">{{ provider.company }}</p>
                                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong-{{ provider.idprovider }}">
                                      Détails
                                    </button>
                                </div>
                            </div>
                        </div>  
                                      
                         {# M O D A L  #}
                        <div class="modal fade" id="exampleModalLong-{{ provider.idprovider }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title" id="exampleModalLongTitle">{{ provider.firstname }} {{ provider.lastname }}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              
                              <div class="modal-footer text-center">
                                <div class="col-xs-4">
                                    <img src="{{ asset(provider.picture) }}" alt="">
                                </div>
                                <div class="col-xs-7">
                                    <h3 class="col-xs-12 text-center">{{ provider.company }}</h3>                                
                                    <div class="text-center"> {{ provider.description |raw }}</div> 
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>       
                          </div>
                        </div>    
                         {# E N D  M O D A L  #}        
                    {% endfor %} 
