{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/innovators/innovators.css") }}"/>

{% endblock %}

{% block content %}
    <main>
        <section id="innovators-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>{{ "Nos innovateurs"|upper }}</h1>
                    </div>
                </div>
                <div class="row all-select-innovators">
                    <div class="col-xs-12 col-sm-6 innovators-select-theme">
                        <select class="col-xs-12">
                            <option>Theme</option>
                            <option>Education</option>
                            <option>Santé</option>
                            <option>Assurance</option>
                            <option>Comptabilité</option>
                            <option>Numérisation GED</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                        <select class="col-xs-12 innovators-select-pays">
                            {% for country in countries %}
                            <option>{{ country.name }}</option>
                            {% endfor %}
                           
                        </select>
                    </div>
                </div>
            </div>
        </section><br><br>
              
        
        
                <section id="innovators-body">
            <div class="container">
                <div class="row">
                    {% for provider in providers %}
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>{{ provider.company }}
                              <small>{{ provider.firstname }} {{ provider.lastname }}</small>
                            </h3>
                        </a>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section><br>
        
        
        
        
        
        <br>
    </main>
{% endblock %}


{% block javascript %}
     {{ parent() }}
    <script src="{{ asset("js/innovators/innovators.js") }}"></script>
{% endblock %}