{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/innovators/innovators.css") }}"/>

{% endblock %}

{% block content %}

    <div class="parallax" data-image="{{ asset('img/img-innovator/hosted_by_africa_innovators.jpg') }}"></div>
    <main>
        <section id="innovators-header">
            <div class="container">
                <div class="row">
{#                  <div id="slide1" style="background-image:url("../images/innovateurs.jpg"); background-repeat: none;">
                    </div>#}
                    <div class="col-xs-12 text-center">
                        <h1>{{ "Nos innovateurs"|upper }}</h1>
                    </div>
                </div>
                <div class="row all-select-innovators">
                    <div class="col-xs-12 col-sm-6 innovators-select-theme">
                        <select class="col-xs-12">
                            <option>Theme</option>
                            <option>Education</option>
                            <option>Santé</option>
                            <option>Assurance</option>
                            <option>Comptabilité</option>
                            <option>Numérisation GED</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                        <select class="col-xs-12 innovators-select-pays">
                            {% for country in countries %}
                            <option>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section><br><br>
              
        <section id="innovators-body">
            <div class="container">
                <div class="row">
                    {% for provider in providers %}
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="img-box text-center">
                                <img src="{{ asset(provider.picture) }}" alt="">
                            </div>
                            <h3>{{ provider.company }}
                              <small>{{ provider.firstname }} {{ provider.lastname }}</small>
                            </h3>
                        </a>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block javascript %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>
    <script src="{{ asset("js/innovators/innovators.js") }}"></script>
    <script type="text/javascript" src="script/jquery.parallax-1.1.js"></script>

{% endblock %}