{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/clients/clients.css") }}"/>

{% endblock %}

{% block content %}
    <div class="parallax" data-image="{{ asset('img/clients/hosted_by_africa_clients.jpg') }}"></div>
   <main>
        <section id="clients-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>{{ "Nos clients"|upper }}</h1>
                    </div>
                </div>
                <div class="row all-select-clients">
                    <div class="col-xs-12 col-sm-6 clients-select-theme">
                        <select class="col-xs-12">
                            <option disabled></option>
                            <option selected>Tous les thèmes</option>
                            <option disabled>──────────</option>
                            <option>Education</option>
                            <option>Santé</option>
                            <option>Assurance</option>
                            <option>Comptabilité</option>
                            <option>Numérisation GED</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center">
                        <select class="col-xs-12">
                            <option disabled></option>
                            <option selected>Tous les pays</option>
                            <option disabled>──────────</option>
                         {% for country in countries %}
                            <option>{{ country.name }}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section><br><br>
            
            
        <section id="clients-body">
            <div class="container">
                <div class="row">
                    {% for client in clients %}
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                            <div class="image-client">
                            <img src="{{ asset(client.picture)  }}" alt="">
                            </div>
                            <h3>{{ client.company }}</h3>
                            <p>{{ client.description[:200]|raw }}...</p>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section><br>
    </main>
    
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>
    <script src="{{ asset('js/clients/clients.js') }}"></script>
{% endblock %}
