{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/carousel.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/accueil.css") }}"/>
{% endblock %}
        
{% block content %}
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are creative</h1>        
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">        
                    <hgroup>
                        <h1>We are smart</h1>        
                        <h3>Get start your next awesome project</h3>
                    </hgroup>       
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">        
                    <hgroup>
                        <h1>We are amazing</h1>        
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
        </div> 
    </div>
    <!-- End Carousel -->
    <main>
        <section id="index-map">
            <div class="container">
                <div class="row">
                    <!-- Map Container -->
                    <div id="container" class="col-md-8 col-xs-12"></div>
                    <!-- End Map Container -->
                    <div class="col-md-4 col-xs-12">
                        <div class="info">
                            <div id="country_name">
                                <h3>HEBYA</h3>
                            </div>
                           
                            <h5>service</h5>
                        
                                
                           
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h5>Service</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h5>Contact</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button class="btn btn-default btn-block">back to map</button>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="index-info">
            <div class="container">
                <div id="trio" class="row">
                        <h2>Opportunités</h2>
                        <div class="col-md-4 col-xs-12">
                            <div class="assets">
                                <i class="fa fa-line-chart  fa-4x" aria-hidden="true"></i>
                                <strong><h4>Sourcing technologique</h4></strong>
                                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                             <div class="assets">
                                 <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                                <h4>Developpement</h4>
                                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="assets">
                                <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i>
                                <h4>Conseil</h4>
                                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                            </div>
                        </div>
                     </div>
             </div>
        </section>
        <section id="product-carousel" class="text-center">
            
            
            <div id="product-carousel-container">
                <div id="myCarousel" class="carousel fdi-Carousel slide">
                 <!-- Carousel items -->
                    <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                        <div class="carousel-inner onebyone-carosel">
                            <div class="item active">
                                <div class="col-xs-6 col-md-3">
                                    <p></p>
                                    <a href="#">
                                        <img src="../img/img-index/E-YONE MEDICAL.jpg" class="img-responsive center-block">
                                        <figcaption class="text-center"><span>E-YONE MEDICAL</span></figcaption>
                                    </a>
                                </div>
                            </div>
                            <div class="item">                                           
                                <div class="col-xs-6 col-md-3">
                                     <p></p>
                                    <a href="#">
                                        <img src="../img/img-index/MADRASSA-SYSTEM.jpg" class="img-responsive center-block">
                                        <figcaption><span>MADRASSA-SYSTEM</span></figcaption>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-6 col-md-3">
                                    <p></p>
                                    <a href="#">
                                        <img src="../img/img-index/AS PHARM.jpg" class="img-responsive center-block">
                                        <figcaption><span>AS PHARM</span></figcaption>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-6 col-md-3">
                                    <p></p>
                                    <a href="#">
                                        <img src="../img/img-index/SOS SYSTEM.jpg" class="img-responsive center-block">
                                        <figcaption><span>SOS SYSTEM</span></figcaption>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </section>

      
        
    </main>
    
{#  LAST SECTION  #}
   
         
{% endblock %}

{% block javascript %}
    {{ parent() }}
     <script src="{{ asset('js/map/africa.js') }}"></script>
     <script src="{{ asset('js/map/raphael-min.js') }}"></script>
     <script src="{{ asset('js/map/africa-paths.js') }}"></script>
    
     <script src="{{ asset('js/index/index.js') }}"></script>
{% endblock %}
