{% extends "layout.html.twig" %}

{% block title 'Accueil' %}

  {% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/public/carousel.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/public/accueil.css") }}"/>
  {% endblock %}

  {% block content %}
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
              <h1>Invest for future</h1>        
              <h3></h3>
            </hgroup>
            <a class="btn btn-hero btn-lg" href="{{ path('services') }}" role="button">Nos services pour les investisseurs</a>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">        
            <hgroup>
              <h1>You are creative</h1>        
              <h3></h3>
            </hgroup>       
            <a class="btn btn-hero btn-lg"href="{{ path('services') }}" role="button">Nos services pour les start-ups</a>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">        
            <hgroup>
              <h1>Solutions for Africa</h1>        
              <h3></h3>
            </hgroup>
            <a class="btn btn-hero btn-lg" href="{{ path('product') }}" role="button">Nos produits innovants</a>
          </div>
        </div>
      </div> 
    </div>
    <!-- End Carousel -->
    <main>
      <section id="index-map">
        <div class="container">
          <div class="row">
            <h2>{{ "Notre présence"|upper }}</h2>
            <!-- Map Container -->
            <div id="container" class="col-md-7"></div>
            <!-- End Map Container -->
            <div class="col-md-5">
              <div class="info">
                <div id="country_name">
                  <h3>HEBYA</h3>
                </div>
                <div id="country_service">
                  <h4>Présence</h4>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div id="country_content">
                  <h4>Service</h4>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div id="country_contact">
                  <h4>Contact</h4>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  {# <a class="btn btn-primary" href="{{ path('apropos') }}">En savoir plus sur Hebya</a> #}
                </div>
                <button class="btn btn-default btn-block">back to map</button>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <section id="index-info">
        <div class="container">
          <div id="trio" class="row">
            <h2>{{ "Nos missions"|upper }}</h2>
            <div class="col-md-4 col-xs-12">
              <div class="assets">
                <i class="fa fa-line-chart  fa-4x" aria-hidden="true"></i>
                <h4>ACCÈS AU MARCHÉ AFRICAIN</h4>
                <p>A Hosted By Africa, nous avons une ambition panafricaine. Nous allons, après le Maroc, ouvrir progressivement des filiales dans les autres pays africains et ainsi permettre à nos startups de conquérir le continent.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="assets">
                <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                <h4>MUTUALISATION</h4>
                <p>Hosted By Africa va à terme réunir les équipes techniques des startups de son portefeuil afin de créer une grande équipe de R & D pour que les uns puissent  bénéficier des expertises et  des expériences des autres.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="assets">
                <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i>
                <h4>CO-CRÉATION</h4>
                <p>Rassembler les startups sous un même toit va  favoriser l'émergence de nouvelles idées et projet de startups. Nous allons ensuite co-construire et co-développer ces startups jusqu’à ce qu’elles deviennent  autonomes.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="product-carousel" class="text-center">
        <h2>{{ "Nos produits"|upper }}</h2>
        <div id="product-carousel-container">
          <div id="myCarousel" class="carousel fdi-Carousel slide">
            <!-- Carousel items -->
            <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
              <div class="carousel-inner onebyone-carosel">
                <div class="item active">
                  <div class="col-md-4">
                    <p></p>
                    <a href="{{ path('product') }}">
                      <img src="../img/public/eyone.jpg" class="img-responsive center-block">
                      <figcaption class="text-center"><span>E-YONE MEDICAL</span></figcaption>
                    </a>
                  </div>
                </div>
                <div class="item">                                           
                  <div class="col-md-4">
                    <p></p>
                    <a href="{{ path('product') }}">
                      <img src="../img/public/madrassa.jpg" class="img-responsive center-block">
                      <figcaption><span>MADRASSA-SYSTEM</span></figcaption>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="col-md-4">
                    <p></p>
                    <a href="{{ path('product') }}">
                      <img src="../img/public/as-pharm.jpg" class="img-responsive center-block">
                      <figcaption><span>AS PHARM</span></figcaption>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="col-md-4">
                    <p></p>
                    <a href="{{ path('product') }}">
                      <img src="../img/public/sos-system.jpg" class="img-responsive center-block">
                      <figcaption><span>SOS SYSTEM</span></figcaption>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

  {% endblock %}

  {% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
      var countryAjaxUrl = '{{ path('countryAjaxUrl') }}';
      var countryRequest = '{{ path('country_request') }}';
    </script>
    <script src="{{ asset('js/public/raphael-min.js') }}"></script>
    <script src="{{ asset('js/public/africa-paths.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    {#    <script src="{{ asset('js/public/africa.js') }}"></script>#}
    
  {% endblock %}
