<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Hebya</title>
        <meta charset="utf-8">
        {% block stylesheet %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Josefin+Sans|Open+Sans|Roboto" rel="stylesheet"> 
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="{{path('homepage')}}" id="hebya-logo"><img id="top" src="{{ asset('img/hebya-logo-normal.png')}}" /></a>
                    </div>
                    <div id="header-social" class="col-xs-8">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                      
                         {% if user_manager.admin %}
                            <a href="{{ path('admin') }}" class="btn btn-primary" id="admin">Gestion admin</a>
                            <a href="{{ path('logout') }}" class="btn btn-primary" id="admin">Déconnexion</a>
                        
                         {% elseif user_manager.UserName %}
                            <a href="{{ path('profil') }}" class="btn btn-primary" id="admin">Espace membre</a>
                            <a href="{{ path('logout') }}" class="btn btn-primary" id="admin">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('register') }}" class="btn btn-primary" id="admin">Inscription</a>
                            <a href="{{ path('login') }}" class="btn btn-primary" id="admin">Connexion</a>
                        {% endif %}

                    </div>                
               </div>
            </div>
        </header>
        <nav id="sticker" class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{path('homepage')}}">Hosted by Africa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="{{path('apropos')}}"  role="button" aria-haspopup="true" aria-expanded="false">A propos<span class=""></span></a>                  
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos offres<span class=""></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{path('services')}}">Nos services</a></li>
                    <li><a href="{{path('product')}}">Nos produits</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="{{path('innovateurs')}}"  role="button" aria-haspopup="true" aria-expanded="false">Nos innovateurs<span class=""></span></a>
                </li>
                <li class="dropdown">
                  <a href="{{path('clients')}}"  role="button" aria-haspopup="true" aria-expanded="false">Nos clients<span class=""></span></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emploi et carrière<span class=""></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{path('opportunity')}}">Offres</a></li>
                    <li><a href="{{path('candidacy')}}">Candidature</a></li>
                   </ul>
                </li>
                <li class="dropdown">
                  <a href="{{('contact')}}" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class=""></span></a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    
        {% block content %}
            
        {% endblock %}
    
  			
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-4">
                    <div class="footer_dv">
                        <h4>Pages</h4>
                        <ul>
                            <li><a href="{{path('homepage')}}">Accueil</a></li>
                            <li><a href="{{path('services')}}">Services</a></li>
                            <li><a href="{{path('product')}}">Produits</a></li>
                            <li><a href="{{path('apropos')}}">A Propos</a></li>
                            <li><a href="{{path('opportunity')}}">Emploi et carrière</a></li>
                            <li><a href="{{path('contact')}}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4">
                    <div class="footer_dv">
                        <h4>Suivez-nous</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a><a href="#" class="footer-link-twitter"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus fa-4x" aria-hidden="true"></i></a><a href="#" class="footer-link-youtube"><i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a><a href="#" class="footer-link-rss"><i class="fa fa-rss-square fa-4x" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4">
                    <div class="footer_dv">
                        <h4>Contact</h4>
                        <form role="form" method="post">
                            <div class="form-group">
                                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
                            </div>

                            <div class="form-group">
                                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required>
                            </div>

                            <div class="form-group">
                                    <input type="text" class="form-control" id="societe" name="societe" placeholder="Nom de la société" required>
                            </div>


                            <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>


                            <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="2"></textarea>

                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>
                        </form>		
                    </div>

                </div>
            </div>
        </div>
                      {#  <a href="{{path('mention')}}"style="color: #fff; font-size: 10px; padding-left: 600px; background-color: grey;"> Mentions légales
                        </a><br>
                        <span style="background-color: grey;" >Kikoo</span>#}
               
       <div style="text-align:center; margin-top:20px;background-color: rgba(20,20,20,0.5);">
        <a href="{{path('mention')}}" class="text">mentions legales</a>
            <span class="glyphicon glyphicon-chevron-up"></span>
          

        </div>               
    </footer>
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/scrolltop.js') }}"></script>

    {% endblock %}

    </body>
</html>