{% extends "layout.html.twig" %}

{% block title 'A propos' %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/public/about.css") }}"/>
{% endblock %}

{% block content %}
  <div class="parallax" data-image="{{ asset('img/public/hosted_by_africa_about.jpg') }}"></div>
  <main id="about-content" class="container">
    <section class="row">
      <div class="col-xs-12 text-center">
        <h1>{{ "A propos"|upper }}</h1>
      </div>
    </section>
    {% for about in abouts%}
      <section class="row">
        <div class="col-xs-12">
          <div id="{{ about.section }}" class="about-content">
            <h2>{{ about.title }}</h2>
            {{ about.content|raw }}
          </div>
        </div>
      </section>
    {% endfor %}
    <section id="team-members" class="container">
      <div class="row">
        {% for teamMember in teamMembers %}
          <div class="col-lg-3 col-md-4 col-sm-6 team">
            <div class="box about-detail"  data-toggle="modal" data-target="#myModal">
              <img src="{{ asset(teamMember.picture) }}" alt="">
              <div class="box-content">
                <h3 class="name">{{ teamMember.firstname }} {{ teamMember.lastname }}</h3>
                <p class="title">{{ teamMember.title|title }}</p>
                <button type="button" class="btn button-detail">+ Infos</button>
                <div class="team-content hidden">{{ teamMember.description|raw }}</div>
              </div>
            </div>
          </div>   
        {% endfor %}
        <div class="modal fade team-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel"></h2>
                <h3 class="modal-subtitle"></h3>
              </div>
              <div class="modal-body team-detail-content">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
          </section>
          <section id="service-main-footer">
            <div class="container">
              <div class="row">
                <br><br>
                <div class="col-xs-12 col-sm-6 col-lg-3 text-center col-lg-offset-3">
                  <a href="{{ path('clients') }}" role="button" class="service-link-button">Nos clients</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                  <a href="{{ path('innovateurs') }}" role="button" class="service-link-button">Nos innovateurs</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 text-center">
                  <a href="{{ path('contact') }}" role="button" class="service-contact-button">Nous contacter</a>
                </div>
              </div>
            </div>
          </section>
          </main>
          <div id="team-layer">

          </div>
        {% endblock %}

        {% block javascript %}
          {{ parent() }}
          <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>
          <script src="{{ asset('js/public/about.js') }}"></script>
        {% endblock %}