{% extends "layout.html.twig" %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/candidacy/candidacy.css") }}"/>
{% endblock %}

{% block content %}
  <main>
    <section class="container candidacy">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>{{ "candidatures"|upper }}</h1>
        </div>              
      </div>
      <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1">
            {% if opportunity %}
              <div class="row">
                <div class="col-sm-4">Poste : {{ opportunity.position }} </div>
                <div class="col-sm-4">Réference : {{ opportunity.reference }}</div>
              </div>
            {% endif %}
            <div class="col-10">
              {% if not opportunity %}
                <label for="position" class="col-2 col-form-label">Poste recherché</label>   
              {% endif %}   
              <input name="position" class="form-control input-md {% if opportunity %}hidden{% endif %}" {% if opportunity %}value="{{ opportunity.position }} {% endif %}">
            </div>
            <div class="col-10">
              <input name="idopportunity" class="form-control input-md hidden" value="{% if opportunity %}{{ opportunity.idopportunity }}{% else %}1{% endif %}">
            </div>
            <label for="firstname" class="col-2 col-form-label"> Nom </label>
            <div class="col-10">
              <input id="firstname" name="firstname" type="text" placeholder="Nom" class="form-control input-md ">
            </div>
            <label for="lastname" class="col-2 col-form-label">Prenom</label>
            <div class="col-10">
              <input id="lastname" name="lastname" type="text" placeholder="Prenom" class="form-control input-md">
            </div>
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md">
            </div>
            <label for="phone" class="col-2 col-form-label">Téléphone</label>
            <div class="col-10">
              <input id="phone" name="phone" type="text" placeholder="Téléphone" class="form-control input-md">
            </div>
            <label for="adresse" class="col-2 col-form-label">Adresse</label>
            <div class="col-10">
              <input id="adresse" name="address" type="text" placeholder="Adresse" class="form-control input-md">
            </div>
            <label for="country" class="col-2 col-form-label">Pays</label>
            <div class="col-10">
              <input id="country" name="country" type="text" placeholder="Pays" class="form-control input-md">
            </div>
            <div class="form-group">
              <label for="cv"> CV </label>
              <input type="file" name="cv" id="cv" >
              <small id="cv" class="form-text text-muted">Veuillez joindre un cv.</small>
            </div>
            <div class="form-group">
              <label for="coverletter"> Lettre de motivation </label>
              <input type="file" name="coverletter" id="coverletter">
              <small id="coverletter" class="form-text text-muted">Veuillez joindre une lettre de motivation.</small>
            </div>
            <div class="col-10">
              <input class="btn btn-primary boutton-form-candidacy" type="submit" value="Postuler">
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ asset('js/public/candidacy.js') }}"></script>
{% endblock %}
