{% for opportunity in opportunities %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ opportunity.position }}</div>
                        <div class="panel-body">
                            <p><strong> Description : </strong> <br>{{ opportunity.description[:100] }}...</p>
                            <p><strong> Pays : </strong>{{ opportunity.countryName }}</p>
                            <button type="button" class="btn btn-primary boutton-annonce" data-toggle="modal" data-target="#detail-annonce-{{ opportunity.idopportunity }}">
                                Voir l'annonce
                            </button>
                            <div class="modal fade" id="detail-annonce-{{ opportunity.idopportunity }}" tabindex="-1" role="dialog" aria-hidden="true">  
                                <div class="modal-content">    
                                    
                                    <p><strong> Nom du poste : </strong> <br> {{ opportunity.position}}</p>
                                    <p><strong> Réference annonce : </strong> {{ opportunity.reference }}</p>
                                    <p><strong> Déscription : </strong> <br> {{ opportunity.description}}</p>                                    
                                    <p><strong> Ville : </strong> {{ opportunity.city }}</p>
                                    <p><strong> Domaine : </strong> {{ opportunity.field }}</p>
                                    <p><strong> Type de contrat : </strong> {{ opportunity.contract_type }}</p>
                                    <p><strong> Date de publication : </strong> {{ opportunity.publication_date }}</p>
                                    <p><strong> Prérequis : </strong> {{ opportunity.required_skills }}</p>
                                    <p><strong> Salaire : </strong> {{ opportunity.salary }}</p>
                                    <p><strong> Pays : </strong> {{ opportunity.countryName }}</p>
                                     
                                    <div class="modal-footer">
                                        <a href="{{ path('candidacy', {postId: opportunity.idopportunity}) }}" class="btn btn-primary">Postuler</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                      
                                    </div>
                                 </div>
                            </div>  
                        </div>
                    </div>
                {% endfor %}  
