{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}   
    <link rel="stylesheet" href="{{ asset("css/opportunity/opportunity.css") }}"/>
{% endblock %}

{% block content %}
    <div class="parallax" data-image="{{ asset('img/public/hosted_by_africa_opportunity.jpg') }}"></div>
    <main class="container">
        <section class="form-group row text-center">
            <h1>{{ "offres d'emploi"|upper }}</h1>
        </section>
        <section class="row">
            <p class="col-xs-12 icone-fermer"><span class="glyphicon glyphicon-remove"></span></p>
            <p class="col-xs-12" id="affiner-recherche"><span class="glyphicon glyphicon-th-list"></span></p>
                <div class="emploi-form col-xs-offset-1 col-sm-offset-0 col-sm-3">
                    <form id="filter-form">
                        <p>Type de contrat</p>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="contrat" value="CDI">
                            CDI
                        </label><br>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="contrat" value="CDD">
                            CDD
                        </label><br>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="contrat" value="Stage">
                            Stage
                        </label><br>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="contrat" value="Alternance">
                            Alternance
                        </label><br><br>

                       {# <p>Expérience</p>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="experience">
                            Non préciser
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="moins-an">
                            Moins de 1 an
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="entre1-3">
                            De 1 à 3 ans
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="plus-3">
                            Plus de 3 ans
                        </label><br><br>

                        <p>Niveau de formation</p>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Non préciser
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Moins de 1 an
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            De 1 à 3 ans
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Plus de 3 ans
                        </label><br><br>

                        <p>DURÉE HEBDOMADAIRE</p>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Non préciser
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Temps plein
                        </label><br>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Temps partiel
                        </label><br>#}
                       <select class="col-xs-12 col-sm-8 products-select-field">
                                <option value="">Theme</option>
                                <option>Comptabilité</option>
                                <option>Communication</option>
                                <option>Marketing</option>
                                <option>Informatique</option>
                                
                       </select><br><br>
                        <select class="col-xs-12 col-sm-8 products-select-pays">
                            <option value="">tout les pays</option>
                            {% for country in countries %}
                                <option value="{{ country.idcountry }}">{{ country.name }}</option>
                                {% endfor %}                           
                        </select>
                    </form>  
                </div>
                <div class="emploi-annonce col-xs-12 col-sm-8">
                     {% include 'public/opportunityList.html.twig' %}
                </div>
            
        </section>
        
    </main>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>
     <script>
        var countrySelect = '{{ path('opportunity_ajax') }}';
        
    </script>
    <script src="{{ asset('js/public/opportunity.js') }}"></script>
{% endblock %}