{% extends "layout.html.twig" %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/public/products.css") }}"/>

{% endblock %}

{% block content %}
  <div class="parallax" data-image="{{ asset('img/public/hosted_by_africa_products.jpg') }}"></div>
  <main>
    <section id="products-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>{{ "Nos Produits"|upper }}</h1>
          </div>
        </div>
        <div class="row all-select-products">
          <form id="filter-form">
            <div class="col-xs-12 col-sm-6 products-select-theme">
              <select class="col-xs-12 products-select-field">
                <option value="">Thème</option>
                <option>Education</option>
                <option>Santé</option>
                <option>Assurance</option>
                <option>Comptabilité</option>
                <option>Numérisation GED</option>
              </select>
            </div>
            <div class="col-xs-12 col-sm-6 ">
              <select class="col-xs-12 products-select-pays">
                <option value="">pays</option>
                {% for country in countries %}
                  <option value="{{ country.idcountry }}">{{ country.name }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section id="product-list">
      <div class="container">
        {% include 'public/productList.html.twig' %}
      </div>
    </section>
    <div id="product-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 product-picture">
            
          </div>
          <div class="col-md-6 product-description">
            <h2></h2>
            <div id="product-detail">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}


{% block javascript %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/jquery.imageScroll.min.js') }}"></script>
  <script>
      var countrySelect = '{{ path('product_ajax') }}';

  </script>
  <script src="{{ asset("js/public/product.js") }}"></script>
{% endblock %}
