{% for provider in providers %}
  <div class="col-lg-3 col-sm-6 text-center">
    <div class="box provider-detail"  data-toggle="modal" data-target="#myModal">
      <img src="{{ asset(provider.picture) }}" alt="">
      <div class="box-content">
        <h3 class="provider-name">{{ provider.firstname }} {{ provider.lastname }}</h3>
        <p class="provider-company">{{ provider.company|title }}</p>
        <div class="provider-content hidden">{{ provider.description|raw }}</div>
      </div>
    </div>
  </div>   
{% endfor %} 